@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

// Fonts
$font-stack: Inter,
sans-serif;
$font-bold: 500;
$font-medium: 12px;
$font-regular: 14px;


// Colors
$green: #038D91;
$light-green: #02B058;
$black: #21232D;
$white: #FFFFFF;
$gray: #C1C4C9;
$light-gray: #EEF0F1;
$dark-gray: #797979;
$background: #393E48;
$primary-background: #E5E5E5;
$secondary-background: #E1EBFF;


// General
$w-full: 100%;
$h-full: 100%;
$line-height-small: 16px;
$line-height-medium: 18px;
$line-height-tall: 24px;
$align-center: center;


// Media Queries
$media-desktop: "only screen and (max-width :1024px)";
$media-tablet: "only screen and (max-width :768px)";
$media-mobile: "only screen and (max-width :600px)";
$media-mobile-sm: "only screen and (max-width :480px)";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary-background;
  font-family: $font-stack;
  height: $h-full;
  width: $w-full;
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: $align-center;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
}

@mixin flex-wrapper {
  display: flex;
  height: $h-full;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  align-items: $align-center;
}

@mixin mid-title {
  font-weight: $font-bold;
  font-size: $font-medium;
  line-height: $line-height-small;
  color: $dark-gray;
}

@mixin mid-text {
  font-size: 16px;
  line-height: $line-height-tall;
  color: $black;
}

// Nav
.nav-wrapper {
  @include flex-center;
  padding: 16px 30px;
  font-size: 16px;
  font-weight: $font-bold;
  ;
  line-height: $line-height-tall;
  letter-spacing: 0em;
  text-align: left;
}

.nav-right {
  @include flex-center;
  color: $green;
  gap: 6px;

  .nav-item {
    @include flex-center;
    gap: 6px;
  }
}

.top-left {
  padding-left: 8px;
}

.divider {
  @include flex-center;
  color: $gray;
  padding: 0 26px;
}

.circle {
  text-align: center;
  background-color: $green;
  color: $white;
  width: 24px;
  height: 24px;
  border-radius: 40px;
}

.main-wrapper {
  @include flex-wrapper;
  height: $h-full;
  padding: 80px 10px 10px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 540px;
  width: 700px;
  background: $white;
  box-shadow: 0px 2px 4px rgba(6, 71, 62, 0.12);
  border-radius: 6px;
}

.grid-item {
  text-align: left;
  align-items: $align-center;
  height: $h-full;
  vertical-align: middle;
}

.grid-item1 {
  background: $white;
  height: $h-full;
}

.grid-left {
  width: $w-full;
  height: 50%;
}

.image-left {
  width: $w-full;
  border-radius: 6px 6px 0 0;
}

.payment-text {
  padding: 0 3px 0 19px;
}

.first-text {
  font-weight: $font-bold;
  ;
  font-size: 18px;
  line-height: 22px;
  padding: 6px 0;
  color: $light-green;
}

.second-text {
  padding: 6px 0;
  line-height: $line-height-small;
  color: $dark-gray;
}

.grid-top-left {
  width: $w-full;
  background: linear-gradient(180deg, rgba(0, 199, 98, 0.1) 0%, rgba(255, 255, 255, 0.1) 102.27%);
}


.grid-item2 {
  @include flex-wrapper;
  background: $background;
}

.card-background {
  background: url('../assets/card-background.svg') no-repeat;
  background-size: cover;
  width: $w-full;
  height: 152px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 8px;
}

.card-content {
  z-index: 2;
  font-weight: $font-bold;
  ;
  text-align: left;
  padding: 6px 16px;
  line-height: 20px;
  font-size: 16px;
}

.btn-blue {
  color: $black;
  z-index: 3;
  padding: 4px 12px;
  background: $secondary-background;
  border-radius: 34px;
  font-weight: $font-bold;
  font-size: $font-medium;
  line-height: $line-height-small;
  text-align: center;
  display: inline-block;
  float: left;
}

.badge-wrapper {
  display: inline-flex;
  margin: 0 10px;
  background: $white;
  box-shadow: 0px 1.22034px 2.44068px rgba(6, 71, 62, 0.12);
  border-radius: 28.0678px;
}

.badge {
  padding: 4px 6px;
}

.grid-mid-left {
  width: $w-full;
  padding: 0 18px;
}

.grid-right {
  background: $white;
  box-shadow: 0px 2px 4px rgba(6, 71, 62, 0.12);
  border-radius: 6px;
  width: $w-full;
  margin: 0 57px;
  width: 236px;
  height: 276px;
}

.title {
  font-size: $font-regular;
  line-height: 20px;
  font-weight: $font-bold;
  ;
  color: $dark-gray;
}

.subheading {
  font-size: 20px;
  line-height: 26px;
  font-weight: $font-bold;
  ;

  .price {
    font-size: 32px;
    line-height: 36px;
  }
}

.text-mid {
  border-bottom: 1px solid $light-gray;
  padding: 12px 0 15px 0;

  .subtitle {
    @include mid-title;
    padding: 4px 0;
  }

  .subtext {
    @include mid-text;
  }
}

.link-wrapper {
  margin: 22px 0;
  color: $white;
  font-weight: $font-bold;
  ;
  line-height: $line-height-small;
  font-size: $font-medium;

  .link {
    text-align: center;
    color: $white;
  }
}

.border-none {
  border: none;
}

.button {
  background-color: $green;
  z-index: 99;
  border-radius: 4px;
  margin: 24px;
  padding: 13px 40px;
  color: $white;
  font-weight: 600;
  font-size: $font-regular;
  line-height: $line-height-tall;
  border: none;
  cursor: pointer;
}

.date {
  @include mid-title;
  padding: 1px 0 4px;
}

@media #{$media-tablet} {
  .nav-wrapper {
    font-size: $font-regular;
    line-height: 19px;
    padding: 12px 24px;
  }

  .first-text {
    font-weight: $font-bold;
    ;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 0;
    color: $light-green;
  }


  .card-background {
    background: url('../assets/card-background.svg') no-repeat;
    background-size: cover;
    width: $w-full;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 8px;
  }

  .btn-blue {
    color: $black;
    z-index: 2;
    padding: 2px 4px;
    background: $secondary-background;
    border-radius: 34px;
    font-weight: $font-bold;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    display: inline-block;
    float: left;
  }

  .divider {
    @include flex-center;
    color: $gray;
    padding: 0 20px;
  }

  .circle {
    text-align: center;
    background-color: $green;
    color: $white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
  }

  .logo {
    width: 80%;
  }

  .text-mid {
    border-bottom: 1px solid $light-gray;
    padding: 12px 0 15px 0;

    .subtitle {
      @include mid-title;
      padding: 2px 0;
    }

    .subtext {
      @include mid-text;
    }
  }

  .border-none {
    border: none;
  }

  .button {
    background-color: $green;
    border-radius: 4px;
    padding: 10px 23px;
    color: $white;
    font-weight: 600;
    font-size: $font-medium;
    line-height: $line-height-medium;
    border: none;
    cursor: pointer;
  }

}

@media #{$media-mobile} {
  .nav-wrapper {
    font-size: 9.5px;
    line-height: $line-height-medium;
    padding: 10px 12px;
  }

  .divider {
    @include flex-center;
    color: $gray;
    padding: 0 3px;
  }

  .circle {
    text-align: center;
    background-color: $green;
    color: $white;
    width: 18px;
    height: 18px;
    border-radius: 40px;
  }

  .logo-wrapper {
    width: 40%;
  }

  .first-text {
    font-weight: $font-bold;
    ;
    font-size: 15px;
    line-height: $line-height-medium;
    padding: 4px 0;
  }

  .second-text {
    padding: 3px 0;
    font-size: 10px;
    line-height: 14px;
  }

  .text-mid {
    border-bottom: 1px solid $light-gray;
    padding: 12px 0 15px 0;

    .subtitle {
      @include mid-title;
      padding: 2px 0;
    }

    .subtext {
      @include mid-text;
    }
  }

  .border-none {
    border: none;
  }

  .button {
    background-color: $green;
    border-radius: 4px;
    margin: 30px 18px;
    padding: 10px 25px;
    color: $white;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    border: none;
    cursor: pointer;
  }

  .grid-left {
    width: $w-full;
    height: 40%;
  }

  .card-content {
    font-weight: $font-bold;
    ;
    text-align: left;
    padding: 6px 8px;
    line-height: 14px;
    font-size: $font-medium;
  }

  .date {
    font-weight: $font-bold;
    ;
    font-size: 9px;
    line-height: 11px;
  }

  .grid-right {
    background: $white;
    box-shadow: 0px 2px 4px rgba(6, 71, 62, 0.12);
    border-radius: 6px;
    width: 190px;
    height: auto;
  }

  .main-wrapper {
    @include flex-wrapper;
    height: $h-full;
    padding: 12px;
  }

  .btn-blue {
    color: $black;
    z-index: 2;
    padding: 2px 4px;
    background: $secondary-background;
    border-radius: 34px;
    font-weight: $font-bold;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    display: inline-block;
    float: left;
  }

  .card-background {
    background: url('../assets/card-background.svg') no-repeat;
    background-size: cover;
    width: $w-full;
    height: 152px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 8px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-item1 {
    background: $white;
  }

  .grid-item2 {
    flex-direction: column;
    height: 400px;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    align-items: $align-center;
    display: flex;
    background:$background;
  }
}