@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

// Fonts
$font-stack: Inter,
sans-serif;

// Colors
$green: #038D91;
$black: #21232D;
$gray: #C1C4C9;

// Media Queries
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  font-family: $font-stack;
  height: 100vh;
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
}

// Nav
.nav-wrapper {
  @include flex-center;
  padding: 16px 30px;
  background: white;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.nav-right {
  @include flex-center;
  color: $green;
  gap: 6px;

  .nav-item {
    @include flex-center;
    gap: 6px;
  }
}

.divider {
  @include flex-center;
  color: $gray;
  padding: 0 26px;
}

.circle {
  text-align: center;
  background-color: $green;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 40px;
}

.main-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 540px;
  width: 700px;
}

.grid-item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  vertical-align: middle;
}

@media #{$media-tablet} {
  .nav-wrapper {
    font-size: 14px;
    line-height: 19px;
    padding: 12px 24px;
  }

  .divider {
    @include flex-center;
    color: $gray;
    padding: 0 20px;
  }

  .circle {
    text-align: center;
    background-color: $green;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 40px;
  }

  .logo {
    width: 80%;
  }
}

@media #{$media-mobile} {
  .nav-wrapper {
    font-size: 9.5px;
    line-height: 18px;
    padding: 10px 12px;
  }

  .divider {
    @include flex-center;
    color: $gray;
    padding: 0 3px;
  }

  .circle {
    text-align: center;
    background-color: $green;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 40px;
  }

  .logo-wrapper {
    width: 40%;
  }
}